.header {
  margin: 50px 0;
}
.heading {
  color: #d70813;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
p, span, li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.box-heading {
  margin-top: 50px;
  li {
    line-height: 25px;
  }
  .link-heading {
    color: #d70813;
    font-weight: 700;
    font-size: 26px;
    &:hover {
      color: #d70813;
      text-decoration: none;
    }
  }
  figcaption {
    text-align: center;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.05);
  }
  .title-price,
  .title-why {
    color: #d70813;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0 0 0;
  }
  table {
    color: #5b5b5b;
    th {
      padding: 15px;
      text-align: center;
      background-color: #d9edf7;
    }
    td {
      padding: 10px;
      text-align: center;
    }
    .even > td {
      background-color: rgb(249, 249, 249);
    }
  }
  .my-service {
    font-weight: bold;
    font-size: 18px;
  }
  .table-service {
    th,
    td {
      text-align: left;
    }
  }
  .box-reason {
    .content-reason {
      display: flex;
      gap: 15px;
      @media only screen and (max-width: 600px) {
        flex-wrap: wrap;
        .reason-item {
          flex-basis: calc(50% - 20px);
        }
      }
      img {
        width: 70px;
        height: 70px;
      }
      .img-box {
        display: flex;
        justify-content: center;
      }
      .title-reason {
        text-align: center;
        color: #d70813;
        font-weight: 600;
        font-size: 16px;
      }
      .desc-reason {
        text-align: center;
      }
    }
    .header-reason {
      color: #d70813;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
    }
  }
  .box-process {
    .title-step {
      color: #d70813;
      font-weight: bold;
      font-size: 20px;
    }
  }
  .box-faqs {
    .title-faqs {
      color: #d70813;
      font-weight: bold;
      font-size: 18px;
    }
  }
}
img {
  width: 100%;
}
.phone {
  position: fixed;
  padding: 5px;
  border-radius: 40px;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  border: 2px solid #d70813;
  background-color: #fff;
  display: flex;
  gap: 5px;
  align-items: center;
  &:hover {
    color: #d70813;
    text-decoration: none;
  }
}
.icon-phone {
  height: 30px;
  max-height: 30px;
  width: 30px;
  max-width: 30px;
}
.phone-number {
  font-size: 18px;
  color: #d70813;
  font-weight: bold;
}
.footer {
  display: flex;
  background-color: #be171e;
  color: #fff;
  padding: 30px;
  margin-top: 100px;
  justify-content: space-around;
  .name-brand {
    font-weight: bold;
    font-size: 20px;
  }
  .content-footer {
    & > .footer-item {
      border-bottom: 1px dashed;
    }
  }
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    .name-brand {
      margin-bottom: 50px;
    }
  }
}
.header-title {
  margin-bottom: 50px;
}
@media only screen and (max-width: 600px) {
  .phone {
    & > span {
      display: none;
    }
  }
}
